body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#urlInput {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#fetchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#fetchButton:hover {
    background-color: #0056b3;
}

#audioLinkContainer {
    margin-top: 20px;
}

.loader {
    color: #007bff;
    margin-top: 20px;
}

.audio-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.audio-button:hover {
    background-color: #218838;
}